td{
    word-break: break-all;
}
.product{
    width: 65px;
    // height: 50px;
}
label,
select,
input{
    float: right;
    font-weight: 500;
    margin: 5px 0px;
    text-align: right;
}
.btn{
    font-size: small;
    margin : 4px 10px;
    word-break: keep-all;
}
.btn-add-product{
    margin: 5px;
    margin-bottom: 15px;
    float: right;
}
.deleted-img{
    height: 200px;
    border-radius: 20px;
    margin: auto;
}
.deleted-text{
    font-weight: 600;
}