<div class="col-12">

</div>
<div class="col-12">
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires5.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires10.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires11.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires12.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires13.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires14.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires15.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/accessoires/accessoires16.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title</h5>
            <p class="card-text">...product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
</div>