<div class="col-12">

</div>
<div class="col-12">
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/dress7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/dress8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/dress9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/5.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/10.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/11.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/12.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenClothes/13.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title  </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
</div>