@media screen and (min-width:800px) and (max-width:991px) {
    svg.static-product-image{
        top: -8px;
        height: 185px!important;
    }
    div.card-container img{
        width: 160px;
        height: 160px;
        margin-top: 6px;
    }
}
@media screen and (min-width:601px) and (max-width:799px) {
    .product-list button.side-button.products-side-button-left{
        left: 1%;
    }
    .product-list button.side-button.products-side-button-right{
        right: 1%;
    }

    svg.static-product-image{
        top: -6px;
        height: 155px !important;
        left: auto;
    }
    div.card-container img{
        width: 133px;
        height: 133px;
        margin-top: 9px;
    }
}

@media screen and (max-width:600px) {
    p.site-title{
        padding-top: 5vh;
        font-size: 40px;
    }
    div.left-image-div{
        height: fit-content;
    }
    img.staticImg {
        height: -webkit-fill-available;
        top: 0px;
        left: -30px;
    }
    div.left-image-div div img{
        margin-left: 0px;
        height: 100%;
        top: 25px;
        bottom: 0px;
        width: 100%;
        min-width: auto;
    }
    div.base-div-image img{
        top: 0px !important;
        left: 20px;
    }
    button.button-Market{
        font-size: 14px;
    }
    div.icon-circle-div{
        height: 39px;
        width: 39px;
        margin: 25px 10px;
    }
    div.icon-circle-div .icon,
    div.icon-circle-div .face{
        font-size: 23px;
    }
    button.button-Market{
        font-size: 14px;
    }


    div.products-part-div{
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    .product-list button.side-button{
        display: none;
    }

    div.men-part-promo{
        display: none;
    }
}

// --------------------------------- the header for the website ---------------------------------
.bg-dark{
    position: relative;
    z-index: 1;
}
.staticImg{
    position: absolute;
    width: 100%;
    min-width: 350px;
    height: 535px;
    left: 0px;
    top: -5px;
    z-index: 2;
}
.left-image-div {
    position: relative;
    height:530px;
}
.left-image-div div img{
    position: relative;
    z-index: 3;
    top: 50px;
    width: 100%;
    min-width: 350px;
    margin-left: -24px;
    height: 330px;
    margin-left: -24px;
}
.left-image-div div .base-div-image img{
    height: auto;
}
.texts-part{
    position: relative;
    z-index: 3;
}
.site-title{
    color: #efad09;
    text-align: right;
    padding-top: 100px;
    padding-right: 40px;
    font-size: 5vw;
    font-weight: 700;
}
.parag-about-site{
    text-align: right;
    padding-right: 4vw;
    padding-left: 1vw;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0px 0px 5px #303030;
}
.button-Market{
    background-color: #efad09;
    padding: 10px 27px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 600;
    font-family: "El Messiri", sans-serif;
    padding-bottom: 6px;
}
.button-Market:hover{
    background-color: #303030;
    color: white;
    border: 2.5px solid #efad09;
}
.icon-circle-div{
    border: 2.5px solid #efad09;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    padding-bottom: 1px;
    margin: auto 10px;
    margin-top: 37px;
}
.icon{
    color: #efad09;
    font-size: 33px;
}
.face{
    color: #efad09;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0px;
}
.icon-circle-div:hover{
    background-color: #efad09;
    border: 2.5px solid #9b9999;
    box-shadow: 0px 0px 5px white;
}
.icon-circle-div:hover .icon,
.icon-circle-div:hover .face{
    color: white;
    font-weight: 700;
}
// te base image for the main product
.base-div-image img{
    margin: 0px !important;
    top: 15px !important;
    width: 40% !important;
    min-width: 150px !important;
}
// side buttons on the products  
.side-arrow-icon{
    font-size: 28px;
    color: #d80000;
    width: fit-content;
}
.side-button{
    width: fit-content;
    background: none;
    border: none;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 3;
}
.header-side-button-left{
    left: 4%;
}
.header-side-button-right{
    right: 6%;
}
.header-side-button-right .side-arrow-icon,
.header-side-button-left .side-arrow-icon {
    font-size: 33px;
} 


// --------------------------------- the parts with the products view ---------------------------------
.part-title{
    color: #efad09;
    text-align: center;
    margin: 27px;
    font-size: 31px;
    font-weight: 600;
}
.products-part-div{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(25% ,25% ));
    justify-content: space-evenly;
}
.card-container{
    position: relative;
    box-shadow: 4px 4px 10px #80808094;
    margin-bottom: 50px;
    border-radius: 31px;
    padding-top: 20px;
    overflow: hidden;
}
.card-container img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin-top: 6px;
}
.circle-div{
    position: relative;
    display: flex;
    justify-content: center;
}
.static-product-image{
    position: absolute;
    width: 100% !important;
    top: -10px;
    height: 221px !important;
    z-index: -1;
    left: 2px;
}
.card-container .product-title{
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 5px;
}
.product-list{
    position: relative;
}
// side buttons for products view 
.products-side-button-right{
    right: 2%;
}
.products-side-button-left{
    left: 2%;
}


// --------------------------------- men part promo  ---------------------------------
.men-part-promo{
    position: relative;
    height: 666px;
    display: flex; // note that display : flex ;   returns the view to the default position  float -> left
    align-items: center;
    margin-bottom: 100px;
}
.background-dark-image{
    position: absolute;
    top: 0px;
    z-index: -1;
}
.part-paragraph{
    text-align: right;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
}