@media screen and (min-width:800px) and (max-width:991px) {
    svg.static-product-image{
        top: -8px;
        height: 185px!important;
    }
    div.card-container img{
        width: 160px;
        height: 160px;
        margin-top: 6px;
    }
}
@media screen and (min-width:601px) and (max-width:799px) {
    // left header side 
    div.left-image-div div .promo-image {
        width: 113%;
        height: 345px;
        margin-bottom: 35px;
        height: 289px;
    }
    div.left-image-div div .base-div-image img {
        width: 138px !important;
    }
    button.side-button.promo-left-arrow-button{
        left: 85%;
    }
    button.side-button.promo-right-arrow-button{
        left: 5.5%;
    }
    // arrow buttons around the producst part 
    .product-list button.side-button.products-side-button-left{
        left: 1%;
    }
    .product-list button.side-button.products-side-button-right{
        right: 1%;
    }

    svg.static-product-image{
        top: -6px;
        height: 155px !important;
        left: auto;
    }
    div.card-container img{
        width: 133px;
        height: 133px;
        margin-top: 9px;
    }
}

@media screen and (max-width:600px) {
    // frist header part
    p.site-title{
        padding-top: 5vh;
        font-size: 45px;
    }
    button.button-Market{
        font-size: 14px;
    }
    div.icon-circle-div{
        height: 39px;
        width: 39px;
        margin: 25px 10px;
    }
    div.icon-circle-div .icon,
    div.icon-circle-div .face{
        font-size: 23px;
    }
    button.button-Market{
        font-size: 14px;
    }
    // --- second header part ---
    div.left-image-div{
        height: fit-content;
    }
    img.staticImg {
        height: -webkit-fill-available;
        top: 0px;
        left: -30px;
    }
    div.left-image-div div .promo-image{
        margin-left: -1.5%;
        height: 100%;
        top: 25px;
        bottom: 0px;
        width: 100%;
        min-width: auto;
        margin-bottom: 6px;
    }
    div.base-div-image img{
        top: 0px !important;
        left: 16px;
    }
    button.side-button{
        top: calc( 58% - 50px);
    }
    button.side-button.promo-left-arrow-button{
        left: 85%;
    }
    button.side-button.promo-right-arrow-button{
        left: 7.5%;
    }
    div.left-image-div div .base-div-image img {
        width: 45% !important;
        left: 3%;
    }
    /* products part*/
    div.products-part-div{
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    .product-list button.side-button{
        display: none;
    }
    div.men-part-promo{
        display: none;
    }


    // ----------------------------- promo-part-shoes -----------------------------
    
    div.promo-part-shoes{
        height: 385px;
    }
    .promo-part-shoes .part-title{       
        padding-top: 20px !important; 
        padding-bottom: 20px !important; 
    }
}

// --------------------------------- the header for the website ---------------------------------
.bg-dark{
    position: relative;
    z-index: 1;
}
.texts-part{
    position: relative;
    z-index: 3;
}
.site-title{
    color: #efad09;
    text-align: right;
    padding-top: 100px;
    padding-right: 40px;
    font-size: 6vw;
    font-weight: 700;
    font-family: emoji;
}
.parag-about-site{
    text-align: right;
    padding-right: 4vw;
    padding-left: 1vw;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0px 0px 5px #303030;
}
.button-Market{
    background-color: #efad09;
    padding: 10px 27px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lemonada', cursive;
    border: none;
}
.button-Market:hover{
    background-color: #303030;
    color: white;
    border: 2.5px solid #efad09;
}
.icon-circle-div{
    border: 2.5px solid #efad09;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    padding-bottom: 1px;
    margin: auto 10px;
    margin-top: 37px;
}
.icon{
    color: #efad09;
    font-size: 33px;
}
.face{
    color: #efad09;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0px;
}
.icon-circle-div:hover{
    background-color: #efad09;
    border: 2.5px solid #9b9999;
    box-shadow: 0px 0px 5px white;
}
.icon-circle-div:hover .icon,
.icon-circle-div:hover .face{
    color: white;
    font-weight: 700;
}

// the left side style
.staticImg{
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 535px;
    left: 0px;
    top: -5px;
    z-index: 2;
}
.left-image-div {
    position: relative;
    height:530px;
}
.left-image-div div .promo-image{
    position: relative;
    z-index: 3;
    top: 50px;
    width: 350px;
    margin-left: -24px;
    height: 345px;
    margin-bottom: 26px;
    height: 336px;
}
.left-image-div div .base-div-image img{
    position: relative;
    height: auto;
    z-index: 2;
    width: 185px !important;
}
// --- -arrow-buttons ------
.promo-left-arrow-button,
.promo-right-arrow-button{
    font-size: 32px;
    color :#d80000;
    left: 73%;
}
.promo-right-arrow-button{
    left: 17.5%;
}





// --------------------------------- men part promo  ---------------------------------
.men-part-promo{
    position: relative;
    height: 666px;
    display: flex; // note that display : flex ;   returns the view to the default position  float -> left
    align-items: center;
    margin-bottom: 100px;
}
.background-dark-image{
    position: absolute;
    top: 0px;
    z-index: -1;
}
.part-paragraph{
    text-align: right;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
}

// ---------------------------------------------------------------------------


// ----------------------------- promo-part-shoes -----------------------------

.promo-part-shoes{
    position: relative;
    height: 450px;
    margin-bottom: 20px;
}
.promo-part-shoes .bg-shoes-img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    top: 0;
    left: 0;
    z-index: -1;
}
.promo-part-shoes .part-title{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffc637;
}
.promo-part-shoes .part-paragraph{
    padding: 10px 20% ;
    text-align: center;
    font-size: 18px;
}



























// ------------------------------------------------------------------------------------------------
// --------------------------------- the style of products parts  ---------------------------------
// ------------------------------------------------------------------------------------------------
.part-title{
    color: #efad09;
    text-align: center;
    margin: 27px;
    font-size: 31px;
    font-weight: 600;
}
.products-part-div{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(25% ,25% ));
    justify-content: space-evenly;
}
.card-container{
    position: relative;
    box-shadow: 4px 4px 10px #80808094;
    margin-bottom: 50px;
    border-radius: 31px;
    padding-top: 20px;
    overflow: hidden;
}
.card-container img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin-top: 6px;
}
.circle-div{
    position: relative;
    display: flex;
    justify-content: center;
}
.static-product-image{
    position: absolute;
    width: 100% !important;
    top: -10px;
    height: 221px !important;
    z-index: -1;
    left: 2px;
}
.card-container .product-title{
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 5px;
}
.product-list{
    position: relative;
}
// side buttons for products view 
.side-arrow-icon{
    font-size: 28px;
    color: #d80000;
    width: fit-content;
}
.side-button{
    width: fit-content;
    background: none;
    border: none;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 4;
}
.products-side-button-right{
    right: 2%;
}
.products-side-button-left{
    left: 2%;
}









// ------------------------------- animations -----------------------------
// ------------------------------------------------------------------

.animation-left{
    animation-name: getProductLeft;
    animation-duration: 2s;
}
.animation-right{
    animation-name: getProductRight;
    animation-duration: 2s;
}
@keyframes getProductLeft {
    from{transform: translateX(30px);}
    to{transform: translateX(0px);}
}
@keyframes getProductRight {
    from{transform: translateX(-30px);}
    to{transform: translateX(0px);}
}