<!-- home frist part  -->
<div class="col-12 bg-dark" LtrDirective>
    <div class="col-sm-7 texts-part">
        <div class="content">
            <p class="title">علي كيفك</p>
            <p class="parag text-light" data-aos="fade-up" data-aos-duration="3000">موقع يتيح لك المنتجات التجارية بصورة احترافية كأن عينيك تشاهدة ويوفر لك جميع المنتجات ويعرض أهمها والاكثر قبولا</p>
            <div class="text-center">
                <button class="button-Market">تسوق الآن</button>
            </div>
            <div class="d-flex justify-content-center">
                <div class="icon-circle-div">
                    <p class="face">f</p>
                </div>
                <div class="icon-circle-div">
                    <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
                </div>
                <div class="icon-circle-div">
                    <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 left-image-div">
        <img src="assets/unnamed.png" alt="" class="staticImg">
        <div class="text-center">
            <img src="assets/10.png" alt="" data-aos="fade-up" data-aos-duration="1500">
        </div>
        <div class="text-center base-div-image">
            <img src="assets/55.png" alt="">
        </div>
    </div>
</div>
<!-- men part view  -->
<div class="col-12">
    <p class="part-title">ًالأكثر مبيعا</p>
    <div class="men-part-div">
           <div class="card-container text-center"  data-aos="fade-up" data-aos-duration="1000">
               <img src="assets/shirt.jpg" alt="">
               <p class="product-title">طقم كاجوال</p>
               <p class="price">500 د.ا</p>
           </div>
           <div class="card-container text-center"  data-aos="fade-up" data-aos-duration="1500">
              <img src="assets/10.png" alt="">
              <p class="product-title">جاكت جلد</p>
              <p class="price">250 د.ا</p>
          </div>
          <div class="card-container text-center"  data-aos="fade-up" data-aos-duration="2000">
              <img src="assets/menClothes8.jpg" alt="">
              <p class="product-title">تيشيرت رياضي</p>
              <p class="price">150 د.ا</p>
          </div>
    </div>
</div>
    

