/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    box-sizing: border-box;
}
[class*="col-"]{
    float: right;
    direction: ltr;
    // float: left;
    width: 100%;
}
img::selection{
    background:none;
}
@media screen and (min-width:601px) and (max-width:799px) {
    img.card-img-top{
        height: 165px !important;
    }
}
.card-img-top{
    height: 270px;
    max-height: 250px;
}
