<div class="col-12">

</div>
<div class="col-12">
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/5.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/10.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/11.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/12.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/13.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/14.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/15.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenShoes/16.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary text-capitalize">add to cart</a>
            </div>
        </div>
    </div>
</div>