<div class="col-12 content">
    <div class="col-lg-3 col-md-4 col-sm-3 p-2" *ngFor="let item of productsList">
        <div class="card">
            <img [src]="item.photoUrl" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.paragraph}}</p>
                <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;" *ngIf="item.price!>0">{{item.price }}</span> <span>{{item.discount! | mycurrency}}</span></p>
                <a href="https://wa.me/{{temp.social}}?text=مرحباً اريد الحصول علي هذا المنتج : %0aاسم المنتج%20:%20{{item.title}}%0aتفاصيل المنتج : %20{{item.paragraph}}%0aالسعر المطلوب%20:%20{{item.discount}} د.ك %0a صورة المنتج :  {{item.photoUrl | editProductLink}}" *ngFor="let temp of whatsapp" target="_blank" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
</div>