<div class="col-12">

</div>
<div class="col-12">
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/5.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/10.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/11.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/12.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/13.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/14.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/15.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/womenWatches/16.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
</div>