<div class="col-12">
    <div class="col-sm-3 p-2" *ngFor="let item of productsList">
        <div class="card">
            <img [src]="item.photoUrl" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.paragraph}}</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;" *ngIf="item.price!>0">{{item.price }}</span> <span>{{item.discount! | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
</div>