<div class="col-12">

</div>
<div class="col-12">
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/5.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/7.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/8.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/9.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/10.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/11.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/12.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/13.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/14.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/15.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card">
            <img src="assets/bags/16.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title">product title </h5>
            <p class="card-text">... product paragraph ...</p>
            <p class="card-text"> <span class="text-decoration-line-through" style="padding-right: 7px;">{{65.00 }}</span> <span>{{50.00 | mycurrency}}</span></p>
            <a href="#" class="btn btn-primary">اطلب الان</a>
            </div>
        </div>
    </div>
</div>